#mainNav {
  background: rgba(50,50,50,0.5);
}
.portfolio-wrapper img {
  height: 250px;
}
.github-link {
  font-size: 30px;
  font-weight: 700;
}
.github-link:hover {
  color: dodgerblue !important;
  transition: 0.4s ease-in-out;
}
#portfolioSection {
  background-size: cover;
}